body{
	margin:5px 5px 5px 5px;
	background-color:#564892;
	color:white;
}

div{
	border:3px solid red;
	width=80%;
	margin-left:2;
	margin-right:auto;
}
h3{
	color:white;
}
P{
	
	color:white;
}
a{
	color:red:
}